body {
  background: rgb(34, 193, 195);
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195) 0%,
    rgb(158, 75, 189) 80%
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin: 0;
}
#form {
  width: 400px;
  margin: 20vh auto 5vh auto;
  background-color: whitesmoke;
  border-radius: 5px;
  padding: 30px;
}
h1 {
  text-align: center;
  color: blueviolet;
}
#form button {
  background-color: blueviolet;
  color: white;
  border: 1px solid blueviolet;
  border-radius: 20px;
  padding: 10px;
  margin: 20px 0px;
  cursor: pointer;
  font-size: 20px;
  width: 100%;
}
.input_group {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}
.input_group input {
  border-radius: 5px;
  font-size: 20px;
  margin-top: 3px;
  padding: 5px;
  border: 1px solid rgb(34, 193, 195);
}
.input_group input:focus {
  outline: 0;
}
.error {
  color: red;
  font-size: 16px;
  margin-top: 2px;
}
.input_group.success input {
  border-color: green;
}
.input_group.error input {
  border-color: red;
}
